{% extends "_base.html" %}

{% block title %}
Routine Task Details
{% endblock %}

{% block content %}
{% include "navbar.html" %}

<div class="container mt-4">
    <h3 class="mb-3">Checklist for {{ task.title }}</h3>

    <form method="post" class="mb-3">
        {% csrf_token %}
        
    <div class="form-group">
        {% for routine in task.routines.all %}
            {% if routine.routines not in done_routines %}
                <div class="mb-2">
                    <input type="checkbox" class="" id="routine_{{ routine.id }}" name="routine_{{ routine.id }}" value="{{ routine.id }}">
                    <label class="" for="routine_{{ routine.id }}">{{ routine.routines }} ({{ routine.category.category }})</label>
                </div>
            {% else %}
                <div class=" mb-2">
                    <input type="checkbox" class="" id="routine_{{ routine.id }}" name="routine_{{ routine.id }}" value="{{ routine.id }}" checked>
                    <label class="" for="routine_{{ routine.id }}">{{ routine.routines }} ({{ routine.category.category }}) - Already done</label>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <br>
{% if task.routines.all|length > done_routines|length %}
    <button type="submit" name="mark_as_done" class="{{dynamic_texts.btn_green.text}}">Mark as done</button>
{% endif %}

{% if done_routines %}
    <button type="submit" name="undo" class="btn btn-warning mb-2">Undo</button>
{% endif %}

    </form>
</div>
{% endblock %}
