<br>
<div class="container">
    <div class="row">
        <div class="col-12 col-md">
            <a href="{% url 'cake_order' %}" class="btn btn-outline-secondary w-100 mb-2 mb-md-0">{{dynamic_texts.cake_orders.text}}</a>
        </div>
        <div class="col-12 col-md mt-2 mt-md-0">
            <a href="{% url 'supplier_orders' %}" class="btn btn-outline-secondary w-100 mb-2 mb-md-0">{{dynamic_texts.supplier_orders.text}}</a>
        </div>
        <div class="col-12 col-md mt-2 mt-md-0">
            <a href="{% url 'internal_orders' %}" class="btn btn-outline-secondary w-100 mb-2 mb-md-0">{{dynamic_texts.internal_orders.text}}</a>
        </div>
        <div class="col-12 col-md mt-2 mt-md-0">
            <a href="{% url 'customer_orders' %}" class="btn btn-outline-secondary w-100 mb-2 mb-md-0">{{dynamic_texts.customer_orders.text}}</a>
        </div>
        <div class="col-12 col-md mt-2 mt-md-0">
            <a href="{% url 'retoure' %}" class="btn btn-outline-secondary w-100">{{dynamic_texts.retoure_management.text}}</a>
        </div>
    </div>
</div>
